<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js • TodoMVC</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="todos/index">
      {{!
        We will split our single template into a set of nested templates so we can transition between different lists of todos
        in reaction to user interaction.
      }}    
      <ul id="todo-list">
        {{!
           http://stackoverflow.com/questions/15789808/second-argument-controller-to-handlebars-each-helper-what-does-it-mean

           <ul id="todo-list">
              ((#each filteredTodos itemController="todo"))
                  <li ((bindAttr class="isCompleted:completed isEditing:editing"))>
                      ((#if isEditing))
                          ((view Todos.EditTodoView todoBinding="this"))
                      ((else))
                          ((view Ember.Checkbox checkedBinding="isCompleted" class="toggle"))
                          <label ((action "editTodo" on="doubleClick"))>((title))</label>
                          <button ((action "removeTodo")) class="destroy"></button>
                      ((/if))
                      </li>
              ((/each))
          </ul>

           It sets the itemController property of the current controller (TodosController I presume) to todo i.e the instance
           of the TodoController.
           That means that every item (<li> element) will be binded not to the TodosController but to a TodoController instance.
           isEditing looks for the property on the instance of TodoController and (( action "removeTodo" )) will call
           removeTodo function on TodoController.
        }}
        {{#each itemController="todo"}}
          {{!
            This code will apply the CSS class completed when the todo's isCompleted property is true and remove
            it when the property becomes false. It applies the CSS class editing when the controller's isEditing property
            is true and removes it when the isEditing property is false.
          }}
          <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
            {{#if isEditing}}
              {{!
                Pressing the <enter> key will trigger the acceptChanges event on the instance of TodoController. Moving focus
                away from the <input> will trigger the focus-out event, calling a method acceptChanges on this view's instance
                of TodoController.
                Additionally, we connect the value property of this <input> to the title property of this instance of
                TodoController. We will not implement a title property on the controller so it will retain the default behavior
                of proxying all requests to its model. 
              }}
              {{edit-todo class="edit" value=title focus-out="acceptChanges" 
                     insert-newline="acceptChanges"}}
            {{else}}
              {{!
                When this (( input )) is rendered it will ask for the current value of the controller's isCompleted
                property. When a user clicks this input, it will call the controller's isCompleted property with an argument
                of either true or false depending on the new checked value of the input.
              }}
              {{input type="checkbox" checked=isCompleted class="toggle"}}
              {{!
                http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_action
                We add a new (( action )) helper to the <label> so double-clicks will call editTodo on this todo's controller.
                If the controller does not implement the event, the event is sent to the current route, and it bubbles up the route
                hierarchy from there.
                To also disable bubbling, pass bubbles=false to the helper:
                    <button (( action 'edit' post bubbles=false ))>Edit</button>
                By default the (( action )) helper registers for DOM click events. You can supply an on option to the helper to
                specify a different DOM event name.
              }}
              <label {{action "editTodo" on="doubleClick"}}>{{title}}</label><button {{action "removeTodo"}} class="destroy"></button>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="todos">
      <section id="todoapp">
        <header id="header">
          <h1>todos</h1>
          {{!
            This will render an <input> element at this location with the same id and placeholder attributes applied. It will
            also connect the newTitle property of this template's controller to the value attribute of the <input>. When one changes,
            the other will automatically update to remain synchronized.
          }}
          {{input type="text" id="new-todo" placeholder="What needs to be done?" 
              value=newTitle action="createTodo"}}
        </header>

        <section id="main">
          {{!
            The template loops over the content of its controller. This controller is an instance of ArrayController
            that Ember.js has provided for us as the container for our models. Because we don't need custom behavior for
            this object yet, we can use the default object provided by the framework.
          }}

          {{!
            The (( outlet )) Handlebars helper designates an area of a template that will dynamically update as we transition between
            routes. Our first new child route will fill this area with the list of all todos in the application.
          }}
          {{outlet}}

          {{!
            Next we'll update our template to indicate when all todos have been completed.
            This checkbox will be checked when the controller property allAreDone is true and unchecked when the property allAreDone
            is false.

            TodoMVC allows users to toggle all existing todos into either a complete or incomplete state. It uses the same checkbox
            that becomes checked when all todos are completed and unchecked when one or more todos remain incomplete.
          }}
          {{input type="checkbox" id="toggle-all" checked=allAreDone}}
        </section>

        <footer id="footer">
          <span id="todo-count">
            <strong>{{remaining}}</strong> {{inflection}} left
          </span>
          <ul id="filters">
            <li>
              {{!
                We can update the application to allow navigating back to the list of all todos.
              }}
              {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
            </li>
            <li>
              {{!
                We'll update the application so a user can navigate to a url where only todos that are not complete are displayed.
              }}
              {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
            </li>
            <li>
              {{!
                We'll update the application so a user can navigate to a url where only todos that have already been completed are
                displayed.
              }}
              {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
            </li>
          </ul>

          {{!
            TodoMVC allows users to delete all completed todos at once by clicking a button. This button is visible only when there
            are any completed todos, displays the number of completed todos, and removes all todos from the application when clicked.
          }}
          {{#if hasCompleted}}
            <button id="clear-completed" {{action "clearCompleted"}}>
              Clear completed ({{completed}})
            </button>
          {{/if}}
        </footer>
      </section>

      <footer id="info">
        <p>Double-click to edit a todo</p>
      </footer>
    </script>

    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>

    <script src="js/libs/localstorage_adapter.js"></script>

    <script src="js/application.js"></script>
    
    <script src="js/router.js"></script>
    
    <script src="js/models/todo.js"></script>

    <script src="js/controllers/todos_controller.js"></script>
    <script src="js/controllers/todo_controller.js"></script>

    <script src="js/views/edit_todo_view.js"></script>
  </body>
</html>